<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Book Search</title>

		<!-- Bootstrap CSS -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	</head>
	<body>

        <form id="search_book" method="post">
        <div class="container">
        <div class="row">
        <div id="custom-search-input">{% csrf_token %}
          <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search Books" id="search_query"/>
            <span class="input-group-btn">
              <button class="btn btn-danger" type="submit">
                <span class=" glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
  </div>
</div>
        </form>



        <div id="BookTitles">
        	
        </div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>

    <script>
        $(document).on('submit', '#search_book', function(e){
   e.preventDefault();

   $.ajax({
       type:'POST',
       url:'../search_book',
       data:{
           query:$("#search_query").val(),
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
       },
       success:function(data, textStatus, jqXHR){
       	   $("#BookTitles").empty()
       	   for(var i = 0; i < data.length; i++){
              var title = data[i]["fields"].title
              var id = data[i].pk
              $('<a id = "' + id + '" href="../' + id + '" target="_blank">').html(title).appendTo("#BookTitles")
              $('<br>').html(title).appendTo("#BookTitles")
       	   }
       }
   });
});
    </script>
</html>