<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{title}}</title>
  <!-- Bootstrap core CSS-->
  <link href="../../static/basic_frame/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../../static/basic_frame/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../../static/basic_frame/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../../static/basic_frame/css/sb-admin.css" rel="stylesheet">
  <link href="../../static/basic_frame/css/style.css" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #393939">
    <a class="navbar-brand" href="/brie/">B.R.I.E.</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="background-color: #222222">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/brie/search">
            <span class="nav-link-text">Explore</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="/brie/overview">
            <span class="nav-link-text">Overview Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/brie/recommendation">
            <span class="nav-link-text">Recommendation</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link" href="/brie/authors">
            <span class="nav-link-text">Authors</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link" href="/brie/publishers">
            <span class="nav-link-text">Publishers</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link" href="/brie/evaluation">
            <span class="nav-link-text">Evaluation</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
        {% if image != "" %}
        <img class="book_image", src="{{image|safe}}", alt="book_image">
        {% else %}
        <img class="book_image", src="../../static/img/default_book.jpg", alt="default_book_image">
        {% endif %}


        <div>

        {% if title%}
        <h3 id="book_title_h3">{{title|safe}}</h3>
        {% endif %}

        </div>

        <div>
        {% if author%}
        <h5 id="book_author_h5">By {{author|safe}} | {{publication|safe}} ({{pages|safe}} Pages)</h5>
        {% endif %}
        </div>
        <br>
        <div id = "desc">
            {% if goodreads_desc %}
            {{goodreads_desc|safe}}
            {% endif %}
        </div>
        <br>
        <h5 class = "h5_message">Buy this book from</h5>
        <div id ="all_price">

            <table align="centre">

                <tr>
                  {% if amazon_price  != "-1"%}
                  {% if amazon_url %}
                    <td>
                        <a href="{{amazon_url|safe}}"><img id="amazon_logo", src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/2000px-Amazon_logo_plain.svg.png"></a>
                    </td>
                  {% endif %}
                  {% endif %}

                    <td>
                  {% if barnes_and_noble_price %}
                  {% if barnes_and_noble_url %}
                        <a href="{{barnes_and_noble_url|safe}}"><img id="barnes_logo", src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Barnes_and_Noble_logo.svg/2000px-Barnes_and_Noble_logo.svg.png"></a>
                    </td>
                  {% endif %}
                  {% endif %}

                    <td>
                  {% if indie_price %}
                  {% if indie_url %}
                        <a href="{{indie_url|safe}}"><img id="indie_logo", src="http://3u5tts1uxf4t2zylbl2bpy2w.wpengine.netdna-cdn.com/wp-content/uploads/2014/11/indiebound.png"></a>
                    </td>
                  {% endif %}
                  {% endif %}

                    <td>
                  {% if google_play_price %}
                  {% if google_play_url %}
                        <a href="{{google_play_url|safe}}"><img id="google_logo", src="https://techaeris.com/wp-content/uploads/2016/07/Google-Play-Books-FI.jpg"></a>
                    </td>
                  {% endif %}
                  {% endif %}


                </tr>

                <tr>
                  {% if amazon_price  != "-1"%}
                  {% if amazon_url %}
                <td>
                    <a href="{{amazon_url|safe}}", class="price">${{amazon_price|safe}}</a>
                </td>
                  {% endif %}
                  {% endif %}


                  {% if barnes_and_noble_price %}
                  {% if barnes_and_noble_url %}
                <td>
                    <a href="{{barnes_and_noble_url|safe}}", class="price">${{barnes_and_noble_price|safe}}</a>
                </td>
                  {% endif %}
                  {% endif %}


                  {% if indie_price %}
                  {% if indie_url %}
                <td>
                    <a href="{{indie_url|safe}}", class="price">${{indie_price|safe}}</a>
                </td>
                  {% endif %}
                  {% endif %}


                  {% if google_play_price %}
                  {% if google_play_url %}
                <td>
                    <a href="{{google_play_url|safe}}", class="price">${{google_play_price|safe}}</a>
                </td>
                  {% endif %}
                  {% endif %}

                </tr>

            </table>

        </div>
    <br>
    <br>
    <h5 class = "h5_message"> Other books you might like! </h5>

    <div id="recommendation">

      {% for i in similar_books %}
        <div id="foo">

            <div class="bar">

                {% if i.image != "" %}
                <a href="../{{i.id|safe}}">
                <img class="sim_book_image", src="{{i.image|safe}}", alt="book_image">
                </a>

                {% else %}
                <a href="../{{i.id|safe}}">
                <img class="sim_book_image", src="../../static/img/default_book.jpg", alt="default_book_image">
                </a>
                {% endif %}

                <a href="../{{i.id|safe}}">
                <h6 class="sim_book_title">
                {{i.title|safe}}
                </h6>
                </a>

            </div>
        </div>
        {% endfor %}
    </div>
      <br>
    <div class="charts">
        <h2 style="font-family: 'Montserrat','Helvetica Neue';"><center>Analytics</center></h2>
      {% if chart %}
      <div id = "genre_dissection">

        {{chart|safe}}
       </div>
      {% endif %}
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <!-- Bootstrap core JavaScript-->
    <script src="../../static/basic_frame/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/basic_frame/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../static/basic_frame/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../../static/basic_frame/vendor/chart.js/Chart.min.js"></script>
    <script src="../../static/basic_frame/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../../static/basic_frame/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../../static/basic_frame/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../../static/basic_frame/js/sb-admin-datatables.min.js"></script>
    <script src="../../static/basic_frame/js/sb-admin-charts.min.js"></script>
  </div>
  </div>
</body>

</html>